@page "/"
@inject Microsoft.JSInterop.IJSInProcessRuntime js

<p>Current count: @currentCount</p>
<button @onclick="IncrementCount">Click me!</button>

@code {
    int currentCount = 0;

    void IncrementCount() {
        currentCount++;

        // Browser console
        Log(currentCount);
    }

    void Log(object txt)
    {
        js.Invoke<string>("console.log", txt);
    }
}
