@page "/"
@inject IJSRuntime JSRuntime

<p>Current count: @currentCount</p>
<button @onclick="IncrementCount">Click me!</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;

        // VS / Debugger / Output
        System.Diagnostics.Debug.WriteLine(currentCount);

        // Browser
        JSRuntime.InvokeAsync<string>("console.log", currentCount);
    }
}
